@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@300&display=swap');
@font-face {
    font-family: 'Product Sans';
    src: url('../../../../assets/productsansregular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.font-a{
    font-family: 'Source Sans 3', sans-serif;
}

.font-b{
    font-family: 'Product Sans', sans-serif;
}

.circle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(0%, -57%);
    width: 30px;
    height: 30px;
    background-color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    color: gray;
}

.btn-outline-login{
    border-color: #dadce0;
    background-color: transparent;
}

.btn-outline-login:hover{
    border-color: #d2e3fc;
    background-color: #f8faff;
}

.border-text{
    display: inline-block;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 2px;
    border-color: #c592ff;   
    border-style: solid;
    padding-bottom: 7px;
}