@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@300&display=swap');
@font-face {
    font-family: 'Product Sans';
    src: url('../../../../assets/productsansregular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.font-a{
    font-family: 'Source Sans 3', sans-serif;
}

.font-b{
    font-family: 'Product Sans', sans-serif;
}
.border-text{
    display: inline-block;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 2px;
    border-color: #c592ff;   
    border-style: solid;
    padding-bottom: 7px;
}

.btn-outline-purple-var-3{
    border-color: transparent;
    background-color: transparent;
    opacity: .7;
}

.btn-outline-purple-var-3:hover{
    border-color: #a95eff;
    background-color: white;
    color: #a95eff;
    opacity: 1;
}