.active{
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 2px;
    border-color: #a95eff;   
    border-style: solid;   
}

.canvas-item{
    transition: background-color .2s;
    text-align: start;
}

.canvas-item:hover{
    background-color: lightblue;
}

.canvas-item:active{
    color:#a95eff
}

.red{
    transition: background-color .2s, color .2s;
    text-align: start;
}

.red:hover{
    background-color:rgb(231, 80, 80);
    color: white;
}

.blue{
    transition: background-color .2s, color .2s;
    text-align: start;
}

.blue:hover{
    background-color:rgb(105, 137, 207);
}

.border-text{
    display: inline-block;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 2px;
    border-color: #c592ff;   
    border-style: solid;
    padding-bottom: 7px;
}

.ntf-btn{
    color: #933bf8;
}

.ntf-btn:hover{
    background-color: #ededed;
}