.active{
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 2px;
    border-color: #a95eff;   
    border-style: solid;   
}

.dropdown-item{
    transition: background-color .2s;
}

.dropdown-item:hover{
    background-color: lightblue;
}

.dropdown-item:active{
    color:#a95eff
}

.red{
    transition: background-color .2s, color .2s;
}

.red:hover{
    background-color:rgb(231, 80, 80);
    color: white;
}

.blue{
    transition: background-color .2s, color .2s;
}

.blue:hover{
    background-color:rgb(105, 137, 207);
}
