@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@300&display=swap');
@font-face {
    font-family: 'Product Sans';
    src: url('../../../../assets/productsansregular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.font-a{
    font-family: 'Source Sans 3', sans-serif;
}

.font-b{
    font-family: 'Product Sans', sans-serif;
}

.sfx{
    box-shadow: rgba(63, 63, 63, 0.1) 3px 3px 5px; 
    overflow: hidden;
}

.canvas-item{
    transition: background-color .2s;
    text-align: start;
}

.canvas-item:hover{
    background-color: #e4ccff;
}

.canvas-item:active{
    color:#a95eff
}

.btn-noti{
    user-select: none;
    padding: 1%;
    border-radius: 8px;
    transition: all .2s;
    cursor: pointer;
}

.btn-noti:hover{
    background-color: #f5f5f5;
}