/* You can add global styles to this file, and also import other style files 
html, body{
    padding: 0;
    margin: 0;
    height: 100%;
}*/

.dropped-shadow{
    box-shadow: rgba(63, 63, 63, 0.5) 0px 3px 8px; overflow: hidden;
}
::-webkit-scrollbar{
    width: 10px;
}

::-webkit-scrollbar-track{
    background: #fff;
}

::-webkit-scrollbar-thumb{
    background: purple;
    border-radius: 20px;
    border: 3px solid #fff;
}

.dropped-shadow{
    box-shadow: rgba(63, 63, 63, 0.5) 0px 3px 8px; overflow: hidden;
}

.dropped-shadow-tiny{
    box-shadow: rgba(63, 63, 63, 0.2) 0px 3px 8px; overflow: hidden;
}