/* You can add global styles to this file, and also import other style files */
html, body{
    padding: 0;
    margin: 0;
    height: 100%;
}

.dropped-shadow{
    box-shadow: rgba(63, 63, 63, 0.5) 0px 3px 8px; overflow: hidden;
}
.dropped-shadow-tiny{
    box-shadow: rgba(63, 63, 63, 0.2) 0px 3px 8px; overflow: hidden;
}

::-webkit-scrollbar{
    width: 10px;
}

::-webkit-scrollbar-track{
    background: #fff;
}

::-webkit-scrollbar-thumb{
    background: purple;
    border-radius: 20px;
    border: 3px solid #fff;
}

.bg-blur{
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
}

.btn-outline-purple{
    border-color: #a95eff;
    color: #9f4bff;
}

.btn-outline-purple:hover{
    border-color: transparent;
    background-color: #9f4bff;
    color: white;
}

.btn-outline-purple:active{
    border-color: transparent;
    background-color: #8a2af8;
    color: white;
}

.btn-outline-purple-var-2{
    border-color: white;
    background-color: transparent;
}

.btn-outline-purple-var-2:hover{
    border-color: #a95eff;
    background-color: white;
    color: #a95eff;
}

.btn-purple{
    background-color: #a95eff;
    color: white;
}

.btn-purple:hover{
    background-color: #9f4bff;
    color: white;
}

