.border-text-splash{
    display: inline-block;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 2px;
    border-color: #c592ff;   
    border-style: solid;
    padding-bottom: 7px;
}

.anim-in{
    animation: fadeSplash; 
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

.anim-out{
    animation: fadeOutSplash; 
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

@keyframes fadeSplash {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

@keyframes fadeOutSplash {
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}

.sfx{
    border: rgba(232, 28, 255, 0.5) solid 1px;
    overflow: hidden;
}