input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    appearance: none;
    margin: 0;
}
.customalert{
    background-color: #f8d7da80;
    border: 2px solid #f8d7da;
    color: #86252d;
}